@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Poppins&display=swap');
body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}
.navbar
{

	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2rem;
	background: rgba(0,0,0,0.6 ) !important;
<<<<<<< HEAD
	padding: 30px 0;
=======
	padding: 20px 0;
>>>>>>> 8f7f96be8a1d4af36175f4b244d0e49d164d74cc
	margin-bottom: 0px;
	max-height: 25px;
}
.navbar-dark .navbar-nav .nav-link
{
	color: #fff;
	padding-left: 20px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover
{
	color: #1ebba3;
}
<<<<<<< HEAD

.heading-content
{
	position: absolute;
	top: 40%;
=======
.heading-content
{
	position: absolute;
	top: 50%;
>>>>>>> 8f7f96be8a1d4af36175f4b244d0e49d164d74cc
	width: 100%;
	max-width: 100%;
}
.heading-content h5
{
	font-size: 4em;
	font-weight: 300;
	color: #fff;
	font-family: monospace;
}
.heading-content h1
{
	font-size: 5em;
	font-weight: bolder;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.heading-content p
{
	font-size: 3em;
	text-transform: uppercase;
	font-weight: lighter;
	color: #fff;
	word-spacing: 2px;
	letter-spacing: 1px;
}

/*-----------------About Me Start ----------------------*/
#about .btn
{
	border: 2px solid transparent;
	width: 40%;
	padding: 15px 22px;
	background: #000;
	border-radius: 5px;
	margin-top: 10px;
}
#about .btn a
{
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}
#about .btn:hover
{
	border: 2px solid #1ebba3;
	cursor: pointer;
}

/*-----------------About Me Start ----------------------*/
#service .button
{
	border: 2px solid transparent;
	width: 40%;
	padding: 15px 22px;
	background: #000;
	border-radius: 5px;
	margin-top: 10px;
}
#service .button a
{
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}
#service .button:hover
{
	border: 2px solid #1ebba3;
	cursor: pointer;
}

.offset:before
{
	display: block;
	content: " ";
<<<<<<< HEAD
	height: 3rem;

}
.social-icon-color
{
	 color: white;
}
.animate__slow
{
	--animate-duration: 1s;
}
/*-------------------------- Media Query -------------------*/

@media screen and (min-width: 768px) and (max-width: 895px)
{
	.navbar
	{
		letter-spacing: 0.1rem;	
		padding: 30px 0;
	}

	.heading-content
	{
		position: absolute;
		top: 30%;
		width: 100%;
		max-width: 100%;
	}

	.heading-content h5
	{
		font-size: 4em !important;
	}
	.heading-content h1
	{
		font-size: 4em !important;

	}
	.heading-content p
	{
		font-size: 3em !important;
	}
	.navbar-dark .navbar-toggler
	{
	
    margin-top: -20px;
	}

}

@media screen and (min-width: 561px) and (max-width: 768px)
{
	.navbar
	{
		letter-spacing: 0.1rem;	
		padding: 30px 0;
	}

	.heading-content
	{
		position: absolute;
		top: 30%;
		width: 100%;
		max-width: 100%;
	}

	.heading-content h5
	{
		font-size: 3em !important;
	}
	.heading-content h1
	{
		font-size: 3em !important;

	}
	.heading-content p
	{
		font-size: 2em !important;
	}
	.navbar-dark .navbar-toggler
	{
	
    margin-top: -20px;
	}


}

@media screen and (min-width: 341px) and (max-width: 560px)
{
	.navbar
	{
		letter-spacing: 0.1rem;	
		padding: 30px 0;
	}
	.heading-content
	{
		position: absolute;
		top: 10%;
		width: 100%;
		max-width: 100%;
	}
	.heading-content h5
	{
		font-size: 2em !important;
	}
	.heading-content h1
	{
		font-size: 2em !important;

	}
	.heading-content p
	{
		font-size: 1em !important;
	}
	.navbar-dark .navbar-toggler
	{
	
    	margin-top: -20px;
    	margin-left: 5px;
	}

}

@media screen and (min-width: 0px) and (max-width: 340px)
{
	.navbar
	{
		letter-spacing: 0.1rem;	
		padding: 30px 0;
	}
	.heading-content
	{
		position: absolute;
		top: 10%;
		width: 100%;
		max-width: 100%;
	}
	.heading-content h5
	{
		font-size: 1em !important;
	}
	.heading-content h1
	{
		font-size: 1em !important;

	}
	.heading-content p
	{
		font-size: 0.5em !important;
	}
	.navbar-dark .navbar-toggler
	{
	
      margin-top: -20px;
      margin-left: 5px;
	}
=======
	height: 6rem;
>>>>>>> 8f7f96be8a1d4af36175f4b244d0e49d164d74cc

}